.genre {
  align-items: center;
  margin: 20px 0px;
  padding: 0px 1.9rem;
}

.genre h2 {
  margin: 0.8rem 0px;
  text-align: center;
  color: black;
}

.genre select {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: white;
  border: 3px solid transparent;
  border-color: #6a040f;
  color: #6a040f;
  font-weight: 600;
  border-radius: 4px;
  padding: 0.2rem;
}

.genre select:hover {
  background-color: #f8f8f8;
}

.genre option {
  font-size: 1.2rem;
  font-weight: 400;
}
