.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.header h2 {
  margin-left: 20px;
  display: inline-block;
  width: fit-content;
  font-size: 2rem;
  text-align: center;
}

.header img {
  width: 60px;
  height: auto;
}
